html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}


body {
    font-family: sans-serif;
    font-size: 12pt;
    padding: 0 5px;
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.5em 0;
}

h2 {
    font-size: 1.3em;
    font-weight: bold;
    margin: 0.8em 0 0.4em 0;
}

h3 {
    font-size: 1.1em;
    font-weight: bold;
    margin: 0.5em 0 0.2em 0;
}

p {
    margin: 1em 0;
}

.red{
    color:red;
}

.blue{
    color:blue;
}

